@import '/src/styles/variables.scss';
@import '/src/styles/input.scss';
@import '/src/styles/scrollbar.scss';

$playlist-header-height: 245px;

.playlist-view {
    height: calc(100dvh - $media-controller-height);
    overflow-y: scroll;

    @extend .scrollbar;

    .playlist-header {
        position: relative;
        width: 100%;
        height: $playlist-header-height;
        font-size: 96px;
        font-family: $font-family;
        font-weight: $font-weight;
        color: $text-color;
        padding-left: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .header-background {
            position: absolute;
            inset: 0;
            opacity: 0.4;
        }

        .header-content {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            z-index: 1;
            gap: 2rem;

            > .playlist-icon {
                border-radius: 4px 0px 0px 4px;
                width: 185px;
                font-size: 0.4em;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }
        }
    }

    .playlist-body {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;

        .filter-container {
            display: flex;
            justify-content: flex-end;
            gap: 1rem;

            .search-filter {
                width: 256px;

                @extend .text-input;
            }

            .order-filter {
                width: 150px;
                color: white;
                background-color: #535353;
                padding: 10px 16px;
                border-radius: 23px;
                cursor: pointer;
                display: flex;
                justify-content: end;
                align-items: center;

                button {
                    color: white;
                    background-color: #535353;
                    border-color: #535353;
                    padding: 10px 16px;
                    border-radius: 23px;
                    cursor: pointer;
                }
            }
        }

        .playlist-song-table {
            border-radius: 0 !important;

            .is-playing-song {
                color: $highlight-color;
            }

            .ant-table-cell {
                border: none;
            }

            &.is-pinned {
                .ant-table-thead {
                    background-color: #222222;
                }

                .ant-table-cell {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                }
            }

            .ant-table-row {
                * {
                    border: none !important;
                }
            }

            * {
                border-radius: 0 !important;
                background-color: transparent;
                &::before {
                    background-color: transparent !important;
                }
            }
        }
    }
}

.popularity-text {
    text-align: center;
}

.duration-text {
    text-align: right;
}

.selected-filter {
    color: $highlight-color !important;
}
