.range-input {
    -webkit-appearance: none;
    appearance: none;
    height: 7px;
    border-radius: 20px;
    background: #535353;
    cursor: pointer;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 12px;
        height: 12px;
        border: 0;
        border-radius: 50px;
        background-color: white;
        opacity: 0;
    }

    &:hover::-webkit-slider-thumb {
        opacity: 1;
    }

    &::-moz-range-progress {
        height: 7px;
        opacity: 1;
        background: #1db954;
    }
}
