$media-controller-height: 120px;

$highlight-color: #1db954;
$primary-color: #00b96b;
$light-gray-color: hsl(0, 0%, 70%);
$grey-grey: #303030;
$dark-color: hsl(0, 0%, 16%);
$darker-color: hsl(0, 0%, 9%);
$text-color: white;

$font-family: 'DM Sans';
$font-style: normal;
$font-weight: 700;
