.padding {
    padding: 2rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
