@import '/public/styles/variables.scss';
@import '/public/styles/scrollbar.scss';

.home-view {
    height: calc(100dvh - $media-controller-height);
    padding: 2rem;
    overflow-y: scroll;

    @extend .scrollbar;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
