@import '/src/styles/variables.scss';
@import '/src/styles/scrollbar.scss';

.home-view {
    height: calc(100dvh - $media-controller-height);
    padding: 2rem;
    overflow-y: scroll;

    @extend .scrollbar;

    h2 {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 49px;
        letter-spacing: -0.03em;
        color: #ffffff;
        padding: 1rem 0;

        &:not(:first-child) {
            margin-top: 3rem;
        }
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

@media only screen and (max-width: 1600px) {
    .container {
        grid-template-columns: repeat(5, 1fr);
    }
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 1200px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 1050px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 900px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-container {
        grid-template-columns: 1fr;
    }
}
