.playlist-cover {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.04em;
    color: white;
}
