.playlist-card {
    cursor: pointer;
    background-color: #181818;
    width: 100%;
    height: 100px;
    transition: background-color 0.4s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
}

.playlist-card:hover {
    background-color: #303030;
}

.playlist-card > .gradient-image {
    margin-right: 1rem;
    aspect-ratio: 1/1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
}

.playlist-card > .gradient-image ~ h2 {
    font-size: 1.5rem;
    color: white;
}
