.top-card {
    cursor: pointer;
    background-color: #181818;
    padding: 1rem;
    transition: background-color 0.4s;
}

.top-card:hover {
    background-color: #303030;
}

.top-card > .gradient-image {
    border-radius: 14px;
    aspect-ratio: 1/1;
    width: 100%;
    display: grid;
    align-items: center;
}

.top-card > .gradient-image > * {
    text-align: center;
}
