@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
    background: linear-gradient(
        180deg,
        #222222 0%,
        #1f1f1f 11.64%,
        #171717 25.66%,
        #161616 32.94%,
        #151515 35.98%,
        #131313 44.89%,
        #121212 55.22%,
        #121212 75.34%,
        #121212 85.45%,
        rgba(18, 18, 18, 0) 100%
    );
}

.pageLayout {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

.global-wrapper {
    display: grid;
    grid-template-rows: calc(100dvh - 120px) 120px;
    height: 100dvh;
    overflow: hidden;
}

.main-content {
    display: grid;
    grid-template-columns: 200px calc(100dvw - 200px);
}

.background {
    padding-bottom: 5rem;
    margin: 0;
}
