.media-control-bar {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #181818;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 2rem;
    color: #c4c4c4;
    border-top: 1px solid #282828;
    z-index: 10;
}
