.media-control-bar {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #181818;
    padding: 1rem;
    color: #c4c4c4;
    border-top: 1px solid #282828;
    z-index: 10;
}

.media-control-bar .time-control > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.media-control-bar .song-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.media-control-bar .song-info .song-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.media-control-bar .song-info .song-details h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.05em;
    color: #ffffff;
}

.favorite-checkbox input:checked ~ label {
    color: #1db954;
}

.media-control-bar .song-info label > * {
    font-size: 20px;
}

.media-control-bar .song-info .song-details h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.05em;
    color: #b3b3b3;
}

.media-control-bar .song-info .song-image {
    width: 75px;
    height: 75px;
}

.song-time-display {
    -webkit-appearance: none;
    appearance: none;
    width: 600px;
    height: 7px;
    border-radius: 20px;
    background: #535353;
    cursor: pointer;
}

.song-time-display::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border: 0;
    border-radius: 50px;
    background-color: white; /* Green background */
    opacity: 0;
}

.song-time-display::-moz-range-progress {
    height: 7px;
    background: #1db954;
}

.song-time-display:hover::-webkit-slider-thumb {
    opacity: 1;
}

.time-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}
